<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pistas</ion-title>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/"></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="isLoading || loadingError" routerLink="/tracks/new-track">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- No tracks -->
  <ion-card *ngIf="listedTracks.length==0 && !isLoading && !loadingError">
    <ion-card-content>
      <ion-text>Você ainda não tem nenhuma pista cadastrada.</ion-text><br><br>
      <ion-button class="primary" routerLink="/tracks/new-track">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        Cadastrar pista
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Loading error -->
  <ion-card *ngIf="loadingError">
    <ion-card-content>
      <ion-button class="primary" (click)="onFetchTracks()">
        Tente novamente
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Track list -->
  <ion-list *ngIf="listedTracks.length>0 && !isLoading && !loadingError">
    <ion-item *ngFor="let track of listedTracks">
      <ion-label>{{ track.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
