<ion-header>
  <ion-toolbar>
    <ion-title>LapTracker</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h3 class="ion-text-left">Signup</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input ngModel required type="email" name="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position=floating>Password</ion-label>
            <ion-input ngModel required type="password" name="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position=floating>Repeat Password</ion-label>
            <ion-input ngModel required type="password" name="confirmPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errors.length > 0">
        <div class="error-box">
          <ion-col size="12">
            <div *ngFor="let error of errors" class="error-text">{{ error }}</div>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button class="ion-margin-top" type="submit" [disabled]="!form.valid">Signup</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
